#app{
    font-family: 'Roboto', sans-serif;
}
.router-link-exact-active{
    font-weight: bold;
    
}
.card{
    display: block;
}
.game-card-coll{
    align-self: center;
    margin-top: 70px;
    text-align: center;
}
.row1{
    margin-top: 70px;
    text-align: center;
}
.btn{
    background: rgba(214, 56, 125, 1);
    border: 2px;
    border-style: solid;
    border-color: black;
}
.nav-link{
    color: rgba(214, 56, 125, 1);
}
.login-section{
    height: 80px;
}
.login-button{
    color: white;
    margin-top: 50px;
}
.container-navbar {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
}
.navbar {
  background: black;
  *zoom: 1;
  position: relative;
  z-index: 999;
  clear: both;
  width: 100%;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.site-header {
  background-color: rgb(46, 41, 48);
  position: relative;
}
.site-header > .container {
  *zoom: 1;
  position: relative;
  padding: 60px 15px 0;
}
.site-header > .container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.site-header .cart {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.site-header .cart .icon-cart {
  color: #45b77d;
  font-size: 18px;
  font-size: 1.2857142857em;
  margin-right: 5px;
  vertical-align: baseline;
}
.site-header .cart:hover {
  color: #45b77d;
}
@media screen and (max-width: 480px) {
  .site-header .cart {
    border-right: none;
    padding-right: 0;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
#branding {
  float: left;
  margin-bottom: 30px;
}
#branding .logo,
#branding .logo-text {
  display: inline-block;
  vertical-align: middle;
}
#branding .logo {
  margin-right: 10px;
}
#branding .site-title {
  font-size: 16px;
  font-size: 1.1428571429em;
  color: white;
  margin-bottom: 0;
}
#branding .site-title a {
  color: white;
}
#branding .site-description {
  color: white;
  font-size: 10px;
  font-size: 0.7142857143em;
}
.site-title a {
  color: white;
}